@import '../../scss/global';
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

.Navigation {
	display: flex;
	flex-flow: column;
	width: 100%;
	background: black;
	color: white;
	border-bottom: solid 2px black;
	text-align: center;
	z-index: 10000;

	.Logo,
	.Link {
		padding: 10px 20px;
	}

	.Logo {
		flex-wrap: wrap;
		order: -2;
		font-family: 'Dancing Script';
		font-size: 1.6em;
		color: $primary;
	}

	.Link {
		flex-wrap: wrap;
		transition: color 0.2s ease;
		color: white;

		&:hover {
			color: $accent;
		}
	}

	.HideMobile {
		display: none;
	}
}

@media (min-width: 600px) {
	.Navigation {
		position: fixed;
		top: 0;
		height: 60px;
		flex-flow: row;
		align-items: center;
		background: white;

		.Logo {
			flex: 1;
			order: 0;
			font-size: 1.6em;
			color: $primary;
		}

		.Link {
			flex: 1;
			transition: color 0.2s ease;
			color: black;

			&:hover {
				color: $accent;
			}
		}

		.HideMobile {
			display: inline;
		}
	}
}

@media (min-width: 800px) {
	.Navigation {
		.Logo {
			font-size: 2em;
		}
	}
}
