@import '../../scss/global';

.Intro {
	background: url('../../assets/luca-bravo-unsplash.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;

	.Overlay {
		background: rgba(black, 0.6);
		height: 100%;
	}

	.Header {
		color: white;
		text-align: center;

		h1 {
			font-size: 3em;
			padding-top: 300px;
		}

		h2 {
			font-size: 2em;
			letter-spacing: 2px;
		}

		span {
			color: $primary;
		}
	}
}

@media (min-width: 600px) {
	.Header {
		h1 {
			font-size: 4em;
		}

		h2 {
			font-size: 2.4em;
		}
	}
}

@media (min-width: 1000px) {
	.Intro {
		.Header {
			position: absolute;
			top: 5%;
			right: 5%;
			color: white;
			text-align: right;
			background-position: center top;

			h1 {
				font-size: 4em;
				padding-top: 0;
			}

			h2 {
				font-size: 2.4em;
				letter-spacing: 2px;
			}
		}
	}
}
