@import '../../scss/global';

.Contact {
	background: #494949;
	height: 100%;
	padding: 250px 0;

	form {
		width: 100%;
		margin: 0 auto;
		background: white;
		padding: 100px 4px;
		text-align: center;

		input,
		textarea,
		button {
			outline: none;
			border: none;
			width: 80%;
			margin: 10px 0;
			font-size: 1.3em;
			padding: 5px;
		}

		input,
		textarea {
			border-bottom: solid 1px $primary;
		}

		textarea {
			height: 120px;
		}

		button {
			border: solid 1px $primary;
			padding: 10px;
			transition: background 0.3s ease;

			&:hover {
				background: $primary;
			}
		}
	}
}

@media (min-width: 1000px) {
	.Contact {
		padding-top: 120px;

		form {
			width: 60%;
		}
	}
}

@media (min-width: 1200px) {
	.Contact {
		padding-top: 120px;

		form {
			width: 50%;
		}
	}
}
