@import '../../scss/global';

.Title {
	color: $primary;
	text-align: center;
}

.Mobile {
	display: block;
	margin-top: 20px;
	color: $primary;
	text-align: center;
}

.Container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	padding: 0 20px;
	text-align: center;

	h1 {
		padding-bottom: 10px;
		color: $primary;
	}

	.Project {
		flex: 1;

		p,
		img {
			max-width: 80%;
			margin: 0 auto;
		}

		img {
			display: block;
			margin-top: 20px;
		}

		p {
			background: rgba(black, 0.6);
			color: white;
			padding: 10px 0;
		}
	}

	.MobileHide {
		display: none;
	}
}

@media (min-width: 450px) {
	.Container {
		.Project {
			h1 {
				padding: 0;
			}

			img {
				margin-top: 0;
			}

			p {
				margin-bottom: 3px;
			}
		}

		.Mobile {
			margin-top: 10px;
		}
	}
}

@media (min-width: 600px) {
	.Container {
		flex-direction: row;
		flex-flow: row wrap;

		.Project {
			flex: 1;
			flex-basis: 46%;
			margin: 2%;
		}

		.MobileHide {
			display: block;
		}
	}

	.Mobile {
		display: none;
	}
}

@media (min-width: 1000px) {
	.Container {
		.Project {
			flex-basis: 26%;

			img {
				height: 200px;
			}
		}
	}
}
